.promo {
  background: #252830;
  box-shadow: 0 0 10px #000;
  color: #fff;
  padding: 20px 0;
  min-width: 1024px;
  width: 100%;
}
.promo-info {
  float: left;
  font-family: Kabel;
  font-size: 25px;
  text-shadow: 0 0 10px #000;
  margin-top: 11%;
  width: calc(50% - 10px);
}
.company {
  font-size: 40px;
}
.logo {
  float: right;
  width: calc(50% - 10px);
}
.logo img {
  border: 30px solid #deb776;
  border-image: url('/images/border.png') 150;
  box-sizing: border-box;
  box-shadow: 0 0 10px #ccc;
  width: 100%;
}
.ant-btn {
  font-family: sans-serif;
  font-weight: bold !important;
}